[submodule "external/MiniGL"]
	path = external/MiniGL
	url = https://github.com/Digitql0/MiniGL
[submodule "external/Thread-Scheduler"]
	path = external/Thread-Scheduler
	url = https://github.com/Digitql0/Thread-Scheduler
[submodule "external/MostlyForces"]
	path = external/MostlyForces
	url = https://github.com/Digitql0/MostlyForces
[submodule "external/BitsAndPieces"]
	path = external/BitsAndPieces
	url = https://github.com/Digitql0/BitsAndPieces
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
